{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}HangMonkey{% endblock %}

{% block content %}
<div id="game-dirs">
	<p>I have a secret word in mind.</p>
	<p>Can you guess it before the monkey dies?</p>
</div>

<div id="word-display">
	<p>Secret Word</p>
</div>

<div id="monkey-pics">
	<script>
		var IMG_FILE1 = "{% static 'img/Hangman1-big.jpg' %}"
		var IMG_FILE2 = "{% static 'img/Hangman2-big.jpg' %}"
		var IMG_FILE3 = "{% static 'img/Hangman3-big.jpg' %}"
		var IMG_FILE4 = "{% static 'img/Hangman4-big.jpg' %}"
		var IMG_FILE5 = "{% static 'img/Hangman5-big.jpg' %}"
		var IMG_FILE6 = "{% static 'img/Hangman6-big.jpg' %}"
	</script>
	<img src="{% static 'img/Hangman0-big.jpg' %}" alt="Empty gallows" />
</div>

<div id="hint">
	<p id="strikes"> </p>
	<p id="missed-letters"> </p>
</div>

<form>
	<input id="guess" type="text" />
</form>
<button id="choose">Pick a Letter</button>
<a id="play-again">Play Again</a>
{% endblock %}